* {
  box-sizing: border-box;
}

body, html {
  width      : 100%;
  height     : 100%;
  margin     : 0px;
  padding    : 0px;
  font-family: "Roboto Mono", monospace;
  color      : #f4defa;
  background: black;
}

canvas {
  width: 100%;
  height: 100%;
}

#content-container {
  position: absolute;
  width   : calc(100% - 128px);
  height  : calc(100% - 128px);
  top     : 64px;
  left    : 64px;
}

#header {
  background : rgba(0, 0, 0, 0.8);
  padding    : 16px 24px 24px 24px;
  font-weight: 100;
  font-size  : 1.5vw;
  position   : relative;
  max-width: 300px;
}

#left, #right {
  width: 50%;

}

#right {
  position: relative;
}

#zine-label {
  margin-bottom: 16px;
}

#zine-label:hover {
  cursor: pointer;
  font-weight: bold;
}

#issue-label {
  font-size: 0.5em;
}

#title-container {
  position      : relative;
  color         : #f4defa;
  font-size     : 9vw;
  font-style    : italic;
  letter-spacing: 2px;
  font-weight   : 300;
  text-shadow   : 5px 5px 1px #461e7b;
}

#title-quote-container {
  display  : flex;
  flex-wrap: wrap;
  position : absolute;
  top      : 58%;
  transform: translateY(-50%);
  width    : 100%;
}

#contributor-btn, #get-involved-btn {
  position      : relative;
  min-width     : 220px;
  padding       : 12px;
  text-align    : center;
  background    : rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight   : bold;
  border        : 2px solid #f4defa;
  font-size     : 14px;
  display       : inline-block;
  margin-top    : 24px;
}

#btn-container {
  margin-top: 64px;
  position: relative;
  width: 100%;
}

#contributor-btn:hover,
#get-involved-btn:hover {
  cursor: pointer;
  background: rgba(244, 222, 250, 0.9);
  color: black;
}

#quote-container {
  max-width     : 75%;
  background    : rgba(0, 0, 0, 0.8);
  padding       : 8px 24px 24px 24px;
  font-style    : italic;
  text-transform: uppercase;
  font-size     : 1vw;
  letter-spacing: 1.1px;
  font-weight   : 300;
  position      : absolute;
  right         : 0;
  top           : 50%;
  transform     : translateY(-50%);
}

#quote:before {
  content: open-quote;
  margin-right: 4px;
}

#quote:after {
  content: close-quote;
}

#citation {
  text-align: right;
}

#deco-line {
  position     : relative;
  width        : 40px;
  height       : 2px;
  margin-top   : 6px;
  border-radius: 2px;
  background   : white;
}

#contributor-call {
  width     : 100%;
  height    : 100%;
  position  : absolute;
  background: rgba(0, 0, 0, 0.8);
  padding   : 128px;
  display   : none;
}

#contributor-call-inner {
  padding: 64px;
  border: 4px solid #f4defa;
}

#call-content {
  font-weight: 300;
  line-height: 28px;
  width: 60%;
}

@media only screen and (min-width: 320px) and (max-width: 900px) {

  #content-container {
    top: 48px;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
  }

  #title-container {
    font-size : 18vw;
    text-align: center;
  }

  #zine-label {
    font-weight: 400;
  }

  #issue-label {
    font-size: 3vw;
  }

  #header {
    font-size: 5vw;
    max-width: 48%;
    padding: 24px 32px 32px 32px;
  }

  #left, #right {
    width: 100%;
  }

  #title-quote-container {
    top: 60%;
  }

  #quote-container {
    padding-bottom: 32px;
    position  : relative;
    width     : 100%;
    max-width : 100%;
    margin-top: 40px;
    font-size : 3vw;
    text-align: center;
    font-weight: 400;
  }

  #citation {
    text-align: center;
  }

  #contributor-btn,
  #get-involved-btn {
    width         : 100%;
    font-size     : 3vw;
    font-weight   : 400;
    padding       : 32px;
  }
}